p {
    color:white;
    font-weight: bold;
    font-size: 30px;
}

.banner-account {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 2px;
    color:white;
}

.banner-chat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 2px;
    color:white;
}

.banner-logout-button {
    background-color: lightgrey;
    border:none;
    border-radius: 8px;
    width: 100px;
}