p {
    color:white;
    font-weight: bold;
    font-size: 2rem;
}

.banner-account {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 0.13rem;
    color:white;
    border-bottom: 0.1rem solid white;
    margin-bottom: 10%;
    height: 7rem;
    background-color: black;
}

.banner-chat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    grid-gap: 2px;
    color:white;
    border-bottom: 0.13rem solid white;
    margin-bottom: 10%;
    background-color: black;
    height: 7rem;
    position: sticky;
    top: 0;
}

.banner-logout-button {
    background-color: lightgrey;
    border:none;
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
}