.message-form {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

.message-form-input {
    width: 500px;
    border-radius: 8px;;
}

th, td {
    padding: 10px;
    text-align: left;
    color: white;
    background-color: black;
  }

.time {
    width: 100px;
    font-size: large;
}
.user {
    width: 100px;
    font-size: large;
}

.msg {
    width: 300px;
    font-size: large;
}


.message-form-button {
    background-color: lightgreen;
    border:none;
    border-radius: 8px;
    width: 100px;
}
