.grid-container {
    display: grid;
    align-items: center;
    grid-gap:0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
}

.send-container {
    justify-self: end;
}

.ai-container {
    justify-self: start;
}

.message-form-input {
    width: 40rem;
    font-size: 2rem;
    height: 2rem;
}

.green-button {
    background-color: lightgreen;
    border:none;
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
}

.ai-assist-off-button {
    background-color: grey;
    border:none;
    border-radius: 1rem;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
}

.green-button:active {
    transform: translateY(0.5rem);
}

.ai-assist-off-button:active {
    transform: translateY(0.5rem);
}